.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://media.istockphoto.com/id/1060680796/vector/individual-e-commerce-business-at-house-studio-check-orders-and-packing-goods-for-delivery.jpg?s=612x612&w=0&k=20&c=PPtJ04fuuSYMHeNh7Rr1jpMgQzEl5BBFIB-rlEYZTC8=');
  background-repeat: no-repeat;
  background-size: 1600px;

}

.login h2 {
  margin-bottom: 20px;
}

.login .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
 /* Add a background color to the form */
  padding: 50px; /* Add padding to the form */
  /*border: 5px solid black ;  Add a border to the form */
  border-radius: 4px; /* Add border-radius to the form */
}

.login-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.login-input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  padding: 10px 20px;
  background-color: #37a837;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  margin-left: 50px;
}

.login button:hover {
  background-color: #45a049;
}

.login p {
  margin-top: 10px;
}

.login p a {
  color: rgb(40, 40, 173);
}

.wel{
color: #000000;

  
}
.wel1{
  color: #171717;
  
    
  }
