/* Contact.css */

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Optional: Add more styling for a better visual appeal */
body{
  background-image: url("https://media.istockphoto.com/id/1060680796/vector/individual-e-commerce-business-at-house-studio-check-orders-and-packing-goods-for-delivery.jpg?s=612x612&w=0&k=20&c=PPtJ04fuuSYMHeNh7Rr1jpMgQzEl5BBFIB-rlEYZTC8=");
}