.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1060680796/vector/individual-e-commerce-business-at-house-studio-check-orders-and-packing-goods-for-delivery.jpg?s=612x612&w=0&k=20&c=PPtJ04fuuSYMHeNh7Rr1jpMgQzEl5BBFIB-rlEYZTC8=");
  
  background-repeat: no-repeat;
  background-size: 1650px;
}


.register h2 {
  margin-bottom: 1rem;
}

.register form {
  width: 300px;
  padding: 2rem;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.register .form-group {
  margin-bottom: 1rem;
}

.register .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.register .form-group input,
.register .form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register .register-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #239334;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.register .toast-message {
  margin-top: 1rem;
  background-color: #28a745;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.register p {
  margin-top: 1rem;
}
.wel2{
  color: #58a3e0;
  
    
  }
